<section id="profile">
    <div>
        <img src="/assets/image.jpg" alt="">
        <span id="userName">Kalichhe</span>
    </div>
    <div>
        <span>10</span>
        <span>Publicaciones</span>
    </div>
    <div>
        <span>5</span>
        <span>Seguidores</span>
    </div>
    <div>
        <span>25</span>
        <span>Solicitudes</span>
    </div>
</section>
<section id="gallery">
    <img src="/assets/image1.jpg" alt="">
    <img src="/assets/image2.jpg" alt="">
    <img src="/assets/image3.jpg" alt="">
    <img src="/assets/image4.jpg" alt="">
    <img src="/assets/image5.jpg" alt="">
    <img src="/assets/image6.jpg" alt="">
</section>
